.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $header-color;
	height: $header-height;
	z-index: $z-index-menu;
	display: flex;
	align-items: center;
	justify-content: space-between;
    border-bottom: 1px solid $border-color;
}

.header__sitename {
	height: $header-height;
	width: $sidebar-item-height + $sidebar-children-width;
    background-color: #191f2e;
    margin-right: $padding;
    text-align: center;
}
.header__sitename__link {
    font-size: 18px;
    font-weight: 300;
    line-height: $header-height;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #F9F9F9;
    display: block;
    text-decoration: none;
}

.header__translation, .header__settings, .header__exit {
	width: $header-height;
	height: $header-height;
	line-height: $header-height;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: rem(15px);
	color: $font-color;
	cursor: pointer;

	@include transition(background-color $transition);

	&:hover {
		background-color: darken($header-color, 4%);
	}
}

.header__translation--active {
	color: $primary-color;
}

.header__language {
	width: auto;
	align-self: center;
	padding: 0 $padding;
	text-transform: uppercase;
}
.header__language__caret {
	margin-left: $padding / 2;
}
.header__language__select {
	.select__value, .select__values__option {
		font-size: rem(13px);
	}
}

.header__user {
	height: $header-height;
	line-height: $header-height;
	display: block;
	font-weight: bold;
	font-size: rem(15px);
	color: $font-color;
	padding: 0 $padding;
	cursor: default;
}



.header__navigation {
	margin-left: $padding;
	margin-right: auto;
	align-self: center;
}

.header__path {
	font-size: rem(13px);
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
    vertical-align: middle;
}
.header__path__item + .header__path__item::before {
	content: "\f105";
	font-family: FontAwesome;
    font-size: rem(16px);
    line-height: rem(15px);
    display: inline-block;
    vertical-align: top;
	margin: 0 6px 0 5px;
}

.header__add-item {
	height: 34px;
	line-height: 34px;
	display: inline-block;
	// font-weight: bold;
	font-size: rem(13px);
	color: $primary-color;
	padding: 0 $padding;
	cursor: pointer;
	border: 1px solid $primary-color;
	border-radius: $border-radius;
	margin-left: $padding;

	.icon {
		font-weight: normal;
		margin-left: 10px;
		display: none;
	}
}


.loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-index-menu-up + 1;
	height: 2px;
	width: 100%;
	overflow: hidden;
}
.loader__status {
	width: 0;
	height: 2px;
	background-color: #2980b9;
	animation: loading-progress 5s cubic-bezier(0, 0.5, 0.25, 1) forwards;
}
.loader__status-max {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 0;
	height: 2px;
	background-color: #2980b9;
	@include transition(all .15s linear);
}
.loader--visible {
	display: block;
}
.loader--finish .loader__status {
	animation-play-state: paused;
}
.loader--finish .loader__status-max {
	width: 100%;
}
.loader__status-max--success {
	background-color: $success-color;
}
.loader__status-max--error {
	background-color: $error-color;
}

@keyframes loading-progress {
	0% { width: 0; }
	100% { width: 90%; }
}

