// Config
$button-font-size: rem(17px);
$button-font-color: #555;
$button-border-color: $border-color;
$button-border-radius: $border-radius;
$button-height: rem(46px);
$button-padding: 0 2rem;
$button-padding-small: 0 1.5rem;

$button-primary-color: $primary-color;
$button-accent-color: $accent-color;
$button-success-color: $success-color;
$button-danger-color: $danger-color;
$button-warning-color: $warning-color;
$button-info-color: $info-color;
$button-default-color: #FFF;



// Styles
.button {
	font-size: $button-font-size;
	color: $button-font-color;
	border: 1px solid $button-border-color;
	border-radius: $button-border-radius;
	background-color: $button-default-color;
	padding: $button-padding;
	height: $button-height;
	line-height: $button-height - rem(2px);
	box-sizing: border-box;
	outline: none;
	cursor: pointer;

	@include transition(background-color $transition);

	&:focus, &:hover {
		background-color: darken($button-default-color, 3%);
	}

	&:active {
		background-color: darken($button-default-color, 6%);
	}

	i {
		font-size: rem(20px);
	}

	&--small {
		font-size: $button-font-size * .9;

		i {
			font-size: rem(20px) * .8;
		}
	}
}
a.button {
    display: inline-block;
}


.button--small {
	font-size: $button-font-size * .9;
	padding: $button-padding-small;
	height: $button-height * .72;
	line-height: $button-height * .72;
}

.button--primary {
	color: #FFF;
	background-color: $button-primary-color;
	border-color: $button-primary-color;
	
	&:focus, &:hover {
		background-color: darken($button-primary-color, 4%);
	}

	&.button--loading::after {
		background-color: #FFF;
	}
}

.button--accent {
	color: #FFF;
	background-color: $button-accent-color;
	border-color: $button-accent-color;

	&:focus, &:hover {
		background-color: darken($button-accent-color, 4%);
	}

	&.button--loading::after {
		background-color: #FFF;
	}
}

.button--success {
	color: #FFF;
	background-color: $button-success-color;
	border-color: $button-success-color;
	
	&:focus, &:hover {
		background-color: darken($button-success-color, 4%);
	}

	&:active {
		background-color: darken($button-success-color, 8%);
	}

	&.button--loading::after {
		background-color: #FFF;
	}
}

.button--danger {
	color: #FFF;
	background-color: $button-danger-color;
	border-color: $button-danger-color;
	
	&:focus, &:hover {
		background-color: darken($button-danger-color, 4%);
	}

	&:active {
		background-color: darken($button-danger-color, 8%);
	}

	&.button--loading::after {
		background-color: #FFF;
	}
}

.button--warning {
	color: $button-font-color;
	background-color: $button-warning-color;
	border-color: $button-warning-color;
	
	&:focus, &:hover {
		background-color: darken($button-warning-color, 4%);
	}

	&:active {
		background-color: darken($button-warning-color, 8%);
	}
}

.button--info {
	color: #FFF;
	background-color: $button-info-color;
	border-color: $button-info-color;
	
	&:focus, &:hover {
		background-color: darken($button-info-color, 4%);
	}

	&:active {
		background-color: darken($button-info-color, 8%);
	}

	&.button--loading::after {
		background-color: #FFF;
	}
}

.button--default {
	color: $font-color;
	background-color: $background-color;
	border-color: $border-color;

	&:focus, &:hover {
		background-color: darken($background-color, 4%);
	}

	&:active {
		background-color: darken($background-color, 6%);
	}

	&.button--loading::after {
		background-color: $accent-color;
	}

	i {
		color: lighten($font-color, 20%);
	}
}



.button--loading {
	position: relative;
	text-indent: -9999px;

	&::after {
		content: "";
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: $button-font-color;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		margin: -4px 0 0 -4px;
		
		@include animation(loader-flip 2s infinite);
	}
}

@include keyframes(loader-flip) {
	0%, 25%, 50%, 75%, 100%{
		animation-timing-function:cubic-bezier(0,0.5,0.5,1);
	}
	0% {
		-webkit-transform:rotateY(0) rotateX(0);transform:rotateY(0) rotateX(0);
	}
	25% {
		-webkit-transform:rotateY(180deg) rotateX(0);transform:rotateY(180deg) rotateX(0);
	}
	50% {
		-webkit-transform:rotateY(180deg) rotateX(180deg);transform:rotateY(180deg) rotateX(180deg);
	}
	75% {
		-webkit-transform:rotateY(0) rotateX(180deg);transform:rotateY(0) rotateX(180deg);
	}
	100% {
		-webkit-transform:rotateY(0) rotateX(0);transform:rotateY(0) rotateX(0);
	}
}







.button--icon {
	background-color: transparent;
	border: none;
	color: $button-font-color;
	padding: 0;
	width: $button-height;
	text-align: center;

	&.button--danger {
		color: $button-danger-color;
	}

	&:focus, &:hover {
		background-color: transparent;
	}

	&:active {
		background-color: transparent;
	}
}




.button--round {
	border: none;
	border-radius: 50%;
	width: $button-height;
	text-align: center;
	padding: 0;
	line-height: $button-height;
}