body .dropify-wrapper {
    box-sizing: border-box;

    &:hover {
        border-style: dashed;
        background: none;

        @include animation(none);
    }

    .dropify-infos-inner {
        box-sizing: border-box;
    }
}