$tree-item-height: 2.4rem;

.tree__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tree__item {

}

.tree__item__line {
    display: block;
    min-height: $tree-item-height;
    font-size: 100%;
    line-height: $tree-item-height;
    padding: 0 $padding;
    cursor: pointer;
    transition: all $transition;
    border-radius: $border-radius;

    &:hover {
        background-color: darken($background-color, 4%);
    }
}

.tree__selected {
    width: min-content;
    white-space: nowrap;
    cursor: pointer;
    transition: all $transition;

    &:hover {
        background-color: darken($background-color, 4%);
    }
}

.tree__toggle {
    height: $input-height;
    font-size: 100%;
    line-height: $input-height;
    padding: 0 $padding;
    color: $accent-color;
    transition: all $transition;

    &:hover {
        background-color: darken($background-color, 4%);
    }
}

.tree__item--level-1 {
    padding-left: $padding * 2;
}

.tree__item--level-2 {
    padding-left: $padding * 3;
}

.tree__item--level-3 {
    padding-left: $padding * 4;
}

.tree__item--level-4 {
    padding-left: $padding * 5;
}

.tree__item--level-5 {
    padding-left: $padding * 6;
}

.tree__item--level-6 {
    padding-left: $padding * 7;
}

.tree__item--active {
    font-weight: bold;
}

.tree__item__arrow--hidden {
    visibility: hidden;
}