$transition-duration: .15s;
$transition-ease: ease;
$transition: $transition-ease $transition-duration;

$transition-out-duration: .1s;
$transition-out-ease: ease-out;
$transition-out: $transition-out-ease $transition-out-duration;

