$padding: 1rem !default;

$content-width: 1170px !default;
$content-min-width: 320px !default;

// Z-index
$z-index-always: 100;

$z-index-side: 80;
$z-index-side-up: $z-index-side + 1;
$z-index-modal: $z-index-side-up + 1;
$z-index-modal-up: $z-index-modal + 1;

$z-index-menu: $z-index-side - 2;
$z-index-menu-up: $z-index-menu + 1;

$z-index-1: $z-index-menu - 10;
$z-index-2: $z-index-1 - 10;
$z-index-3: $z-index-2 - 10;
$z-index-4: $z-index-3 - 10;
$z-index-5: $z-index-4 - 10;

// Other
$border-radius: 3px !default;
$box-shadow: 0 2px 6px rgba(0,0,0,0.1);


// Components

// Header
$header-color: #FFF;
$header-height: 50px !default;
$header-icon-size: rem(32px) !default;

// Sidebar
$sidebar-color: #191f2d;
$sidebar-children-color: #293045;
$sidebar-icon-color: #788197;
$sidebar-item-height: 0; // rem(46px);
$sidebar-children-item-height: rem(46px);
$sidebar-children-width: rem(180px);

$sidebar-width: $sidebar-children-width; // $sidebar-item-height +
